<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置标签 scan 配置文件发生改变再次扫描 scanPeriod 默认毫秒  debug 打印出logback的信息-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n"/>
    <!--  appender 输出媒介  -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!--  负责转换日志文件和将日志文件输出到日志中      -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>